.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-menu {
  display: flex;
  flex-direction: column;
}

.category {
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;
}

.category:hover {
  color: #555;
  box-shadow: inset 100px 0 0 0 black;
  color: white;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.icons {
  margin-bottom: 15px;
  display: flex;
}

.icon {
  margin-right: 2px;
  padding: 8px;
}

.icon:hover {
  background-color: #f2f2f3;
}

@media (max-width: 768px) {
  .container {
    justify-content: center; /* Centrar en dispositivos móviles */
    padding: 10px; /* Ajusta el relleno para dispositivos móviles */
  }
}
