.department {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-top: 65px;
  margin-bottom: 50px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.picture {
  width: 700px;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: all 0.3s ease-in;
}

.picture:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .category-menu {
    margin-bottom: 20px;
  }

  .department {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .picture {
    max-width: 450px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

/* Styles for Mobile */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .category-menu {
    margin-bottom: 20px;
  }

  .icon-container {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .department {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
