.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.category-menu {
  display: flex;
  margin-left: 30px;
}

.category {
  margin-right: 25px;
}

.store-title {
  width: 350px;
}

.icon-container {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  align-items: flex-end;
}

.icons {
  margin-bottom: 15px;
}

.icon {
  margin-right: 20px;
}

.department {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-top: 65px;
  margin-bottom: 50px;
}

.pictures {
  margin-left: 290px;
}

.picture {
  width: 600px;
  margin-right: 100px;
  margin-bottom: 40px;
}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .category-menu {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .store-title {
    width: auto;
  }

  .icon-container {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .pictures {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
  }

  .picture {
    max-width: 300px;
    margin-bottom: 20px;
  }
}

/* Styles for Mobile */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .category-menu {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .store-title {
    width: auto;
  }

  .icon-container {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .department {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}
