.footer-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.newsletter-input .MuiInputLabel-root {
  color: white !important;
}

.newsletter-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.newsletter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-links-container {
  display: flex;
  justify-content: space-evenly;
}
