.footer-container {
  background-color: #e6e6e6;
  color: black;
  text-align: center;
  padding: 10px;
}

.newsletter-input .MuiInputLabel-root {
  color: black !important;
}

.newsletter-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.newsletter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-links-container {
  display: flex;
  justify-content: space-evenly;
}

button.subscribe {
  margin-left: 15px;
  background-color: black;
  border-color: white;
  color: white;
}

button.subscribe:hover {
  background-color: #888;
  color: white;
}
