.basket-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.basket-content {
  flex: 1;
  padding: 65px;
  margin-left: 12%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.full-basket {
  display: flex;
  justify-content: space-around;
}
