.basket-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.basket-content {
  flex: 1;
  padding: 65px;
  margin-left: 12%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.full-basket {
  display: flex;
  justify-content: space-around;
}

.item-summary {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.item-summary:first-child {
  border-top: 1px solid #ccc;
}

.item-summary:last-child {
  border-bottom: none;
}

.product-basket-image img {
  max-width: 100px;
  max-height: 150px;
  padding: 25px;
}
