.basket-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.basket-content {
  flex: 1;
  padding: 65px;
  margin-left: 12%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.full-basket {
  display: flex;
  justify-content: space-around;
}

.item-summary {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.item-summary:first-child {
  border-top: 1px solid #ccc;
}

.item-summary:last-child {
  border-bottom: none;
}

.product-basket-image img {
  max-width: 100px;
  max-height: 150px;
  padding: 25px;
}

.item-details {
  display: flex;
  padding: 10px;
}

.item-details > div p:first-child {
  font-weight: bold;
}

.item-details > div p:first-child {
  font-weight: bold;
}

.item-details > div {
  margin-right: 90px;
}

.item-details > div > p span {
  display: block;
}

.total p {
  margin-bottom: 30px;

  position: relative;
}

.total p:nth-child(2) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.total p span:first-child {
  display: inline-block;
  width: 250px;
}

button.checkout {
  background-color: black;
  width: 320px;
}

button.checkout:hover {
  background-color: #888;
  color: white;
}
